@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

/* Reset default browser styles */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alegreya'; /* Default font family */
    font-size: 16px; /* Default font size */
    line-height: 1.5; /* Default line height */
    color: #272727; /* Default text color */
    background-color: #cfcfcf; /* Default background color */
}

/* H
