@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

/* Reset default browser styles */

h1 {
    margin-left: 0px;
}

h2 {
    margin-top: -40px;
}

h3 {
    margin-top: 60px;
    font-size: 35px;
    color: #423f3f;
}

h4 {
    font-weight: normal;
    font-size: 25px;
    margin-top: -35px;
    margin-bottom: -20px;
}

body {
    font-family: 'Alegreya';
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #272727;
    background-color: #ffffff;
}

.desc {
    max-width: 800px;
    color: #7f7f7f;
    justify-content: center;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.name {
    font-size: 55px;
}


/* H
